@import "../../../assets/scss/mixins.scss";

.app {
  position: relative;
  max-width: 470px;
  margin: 0 auto;
  padding: 0 1rem;
  top: 50%;
  transform: translateY(-50%);

  &__container {
    display: flex;
    flex-direction: column;

    @include min-width(768px) {
      flex-direction: row;
    }
  }

  &__playing-field {
    position: relative;
    display: grid;
    grid-gap: 0.8rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
      min-height: 438px;
    border-radius: 0.5rem;
    border: 2px solid #eeeeee;
    transition: all 0.5s linear;
    flex-grow: 1;

    @include min-width(500px) {
      padding: 1.5rem;
    }

    @include min-width(768px) {
      margin-bottom: 0;
      margin-right: 0.5rem;
    }

    &[data-mode="3x3"] {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
    }

    &[data-mode="4x4"] {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
    }

    &[data-mode="5x5"] {
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: 1fr;
    }

    &[data-mode="6x6"] {
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: 1fr;
    }

    &[data-mode="7x7"] {
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: 1fr;
    }

    &[data-mode="8x8"] {
      grid-template-columns: repeat(8, 1fr);
      grid-auto-rows: 1fr;
    }

    & > *:first-child {
      grid-row: 1 ;
      grid-column: 1;
    }

    &::before {
      content: "";
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
  }
}
