.header {
  position: absolute;
  width: 100%;
  height: auto;
  right: 0;
  padding-top: 1.938rem;
  overflow: hidden;

  &__wrapper {
    display: flex;
    align-items: center;
    z-index: 1;

    &.container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__logo {
    margin-right: auto;
    z-index: 2;
  }

  &__main-nav {
    margin-top: 0.438rem;
    margin-right: 2.688rem;
    z-index: 1;

    @include tablet {
      margin: 0;
      margin-top: -0.313rem;
    }
  }

  @include desktop {
    padding-top: 3.813rem;
  }

  &--height-100 {
    animation: height-100 0.3s linear;
  }
}

@keyframes height-100 {
  0% {
    height: 100%;
  }

  100% {
    height: auto;
  }
}
