.open-menu {
  position: fixed;

  & .header {
    height: 100%;
    overflow: hidden;

    &__wrapper {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(41, 41, 41, 0.6);
      }
    }
  }

  & .main-nav__btn {
    transform: rotate(-90deg);
  }

  & .main-nav__list {
    transform: translateX(0px);
  }
}
