.our-friends {
  background-color: $section-background;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h2 {
      margin: 0;
      max-width: 400px;
      margin-bottom: 2.563rem;
      text-align: center;

      @include tablet {
        margin-bottom: 3.75rem;
      }

      @include desktop {
        margin-top: 0.125rem;
        margin-bottom: 2.5rem;
      }
    }
  }

  &__slider {
    margin-bottom: 2.625rem;

    @include tablet {
      margin-bottom: 2.5rem;
    }

    @include desktop {
      margin-bottom: 1.25rem;
    }
  }
}
