.slider {
  position: relative;
  display: flex;
  flex-direction: column;

  @include tablet {
    width: 708px;
  }

  @include desktop {
    width: 100%;
    max-width: 100%;
  }

  &__container {
    margin-bottom: 1.25rem;
    width: 270px;

    @include tablet {
      width: 580px;
    }

    @include desktop {
      width: 1030px;
      padding: 1.25rem;
    }
  }

  &__pagination {
    display: flex;
    align-self: center;
    justify-content: space-between;
    min-width: 184px;

    @include tablet {
      position: absolute;
      min-width: 100%;
      top: 48%;
      left: 0;
      transform: translateY(-50%);
      z-index: 0;
    }
  }

  &__btn {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 0.125rem solid #f1cdb3;
    border-radius: 6.25rem;
    background-color: transparent;
    transition: 0.2s linear;
    cursor: pointer;
    outline: none;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      border: 0.125rem solid transparent;
      background-color: #fddcc4;
    }
    &:disabled {
      border: 0.125rem solid #cdcdcd;
    }

    &:disabled svg {
      fill: #cdcdcd;
    }
  }
}
