html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.app {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 100%;
  padding: 50px;
}

.keyboard-input {
  width: 100%;
  min-height: 300px;
  max-width: 900px;
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.1em;
  resize: none;
  border-radius: 5px;
  border: 2px solid #eeeeee;
  outline: none;
}

.keyboard {
  display: -ms-grid;
  display: grid;
  max-width: 900px;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px
    1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(16, 1fr);
  -ms-grid-rows: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#232526), to(#414345));
  background: linear-gradient(to bottom, #232526, #414345);
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.current-lang {
  position: absolute;
  top: 0;
  right: 55px;
}

.keyboard[data-enable="false"] {
  opacity: 0;
  z-index: -999;
}

.keyboard[data-enable="true"] {
  opacity: 1;
  z-index: 0;
}

.keyboard[data-enable="false"] button {
  cursor: default;
}

.keyboard button {
  -ms-grid-column-span: 1;
  grid-column: span 1;
  height: 50px;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 15px;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f5f5f5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.keyboard .keyboard__sound {
  position: absolute;
  margin-top: 20px;
  width: 15px;
  height: 15px;
  top: 0;
  right: 82px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px;
}

.keyboard .keyboard__sound[data-enable="true"] {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/727/727269.svg");
}

.keyboard .keyboard__sound[data-enable="false"] {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/727/727240.svg");
}

.keyboard .keyboard__voice {
  position: absolute;
  margin-top: 20px;
  width: 15px;
  height: 15px;
  top: 0;
  right: 102px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px; 
}

.keyboard .keyboard__voice[data-enable="true"] {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/25/25632.svg");
}

.keyboard .keyboard__voice[data-enable="false"] {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/709/709682.svg");
}

.keyboard button:hover,
.keyboard button:focus {
  background-color: #e4e4e4;
}

.keyboard button:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.keyboard .keyboard__sound:hover,
.keyboard .keyboard__sound:focus {
  background-color: transparent;
}

.keyboard .keyboard__sound:active {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.keyboard .keyboard__voice:hover,
.keyboard .keyboard__voice:focus {
  background-color: transparent;
}

.keyboard .keyboard__voice:active {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.keyboard button[data-code="Backspace"] {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-weight: 600;
}

.keyboard button[data-code="Tab"] {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-weight: 600;
}

.keyboard button[data-code="CapsLock"] {
  position: relative;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-weight: 600;
}

.keyboard button[data-code="Enter"] {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-weight: 600;
}

.keyboard button[data-code="ShiftLeft"] {
  position: relative;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-weight: 600;
}

.keyboard button[data-code="ShiftRight"] {
  position: relative;
  -ms-grid-column-span: 3;
  grid-column: span 3;
  font-weight: 600;
}

.keyboard button[data-code="Space"] {
  -ms-grid-column-span: 6;
  grid-column: span 6;
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 15;
  font-weight: 600;
}

.keyboard button[data-code="hide"] {
  position: relative;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.keyboard button[data-code="hide"]::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/60/60759.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
}

.keyboard button[data-code="CapsLock"]::after {
  position: absolute;
  content: "";
  right: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.keyboard button[data-code="CapsLock"][data-active="false"]::after {
  background-color: #000000;
}

.keyboard button[data-code="CapsLock"][data-active="true"]::after {
  background-color: orange;
}

.keyboard button[data-code="ShiftLeft"]::after {
  position: absolute;
  content: "";
  right: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.keyboard button[data-code="ShiftLeft"][data-active="false"]::after {
  background-color: #000000;
}

.keyboard button[data-code="ShiftLeft"][data-active="true"]::after {
  background-color: tomato;
}

.keyboard button[data-code="ShiftRight"]::after {
  position: absolute;
  content: "";
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.keyboard button[data-code="ShiftRight"][data-active="false"]::after {
  background-color: #000000;
}

.keyboard button[data-code="ShiftRight"][data-active="true"]::after {
  background-color: tomato;
}

.keyboard button[data-code="lang"] {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-weight: 600;
}

@media (min-width: 500px) {

.app {
  padding: 0;
  padding-top: 50px;
}

.keyboard button {
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}
}

@media (min-width: 800px) {

.app {
  padding: 50px;
}

.keyboard button {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
}