.logo {
  & h1 {
    margin: 0;
    margin-bottom: 0.5625rem;
    color: $main-font-h-color;
    font-weight: normal;
    @include font-size-rem(32);
    line-height: 110%;
    @include letter-spacing-rem(2, 0.06);
    transition: 0.2s 0.1s linear;
  }

  & p {
    margin: 0;
    padding-left: 0.3125rem;
    color: $second-color-logo;
    font-weight: normal;
    @include font-size-rem(13);
    line-height: 15px;
    @include letter-spacing-rem(0.813, 0.1);
    transition: 0.2s 0.1s linear;
  }
}
