.open-menu {
  position: fixed;
  width: 100%;

  & .main {
    padding-top: 0;
  }

  & .header {
    position: static;
    height: 100%;
    overflow: hidden;

    &__wrapper {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(41, 41, 41, 0.6);
        cursor: pointer;
      }
    }

    &__logo h1 {
      color: #f1cdb3;
    }

    &__logo p {
      color: #ffffff;
    }
  }

  & .main-nav__btn {
    transform: rotate(-90deg);

    & svg {
      stroke: #ffffff;
    }
  }

  & .main-nav__list {
    transform: translateX(0px);
  }
}
